*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
a,
button {
  @apply font-main text-base;
}

body,
h1,
h2,
h3,
ul,
li,
p,
button {
  @apply m-0 p-0;
}

button {
  background: none;
  border: none;
  outline: none;
}

ul {
  @apply list-none;
}

a {
  @apply no-underline text-inherit cursor-pointer outline-none hover:underline;
}
